.icon-archives{
	background:url('customicons/archives.png') no-repeat center center;
}
.icon-config{
	background:url('customicons/config.png') no-repeat center center;
}
.icon-home{
	background:url('customicons/home.png') no-repeat center center;
}
.icon-customers{
	background:url('customicons/customers.png') no-repeat center center;
}
.icon-role{
	background:url('customicons/role.png') no-repeat center center;
}
.icon-set{
	background:url('customicons/set.png') no-repeat center center;
}
.icon-system{
	background:url('customicons/system.png') no-repeat center center;
}
.icon-function{
	background:url('customicons/function.png') no-repeat center center;
}
