<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/jdbc.properties" />


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">    
        <property name="driverClassName" value="${silent.dcn}" />    
        <property name="url" value="${silent.dz}"/>    
        <property name="username" value="${silent.silentmc}" />    
        <property name="password" value="${silent.silentmm}" />    
        <property name="removeAbandoned" value="true"/>    
          <property name="initialSize" value="10" />    
          <property name="maxIdle" value="10" />    
          <property name="minIdle" value="10" />    
           <property name="maxActive" value="30" />    
           <property name="maxWait" value="10000" />    
           <property name= "testWhileIdle" value="true" />    
        <property name= "testOnBorrow" value="false" />    
        <property name= "testOnReturn" value="false" />    
        <property name= "validationQuery" value="select 1" />    
        <!-- <property name= "validationQueryTimeout" value="1" /> 配置已失效-->    
        <property name= "timeBetweenEvictionRunsMillis" value="30000" />    
        <property name= "numTestsPerEvictionRun" value="30" />    
        <property name="minEvictableIdleTimeMillis" value="1800000" />    
    </bean> 

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="jdbcManager" class="com.platform.dataaccess.JdbcManager">
		<constructor-arg ref="dataSource" />
	</bean>

</beans>
